@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: #2C3E50;
  --color-primary: #1A5276;
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: #F8F9FA;
  --color-secondary-content: #2C3E50;
  --color-accent: #FF5A5F;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #3498DB;
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: #2ECC71;
  --color-success-content: oklch(98% 0 0);
  --color-warning: #f1c40f;
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: #e74c3c;
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}
